<div class="site-wrapper site-wrapper-blog">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead masthead-scroll clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><img class = "meImg" src="images/Jordan.jpg"></img>   Jordan Braginton</h3>
              <ul class="nav masthead-nav">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#blog">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
<!-- ng-mouseenter = "myText = Text" ng-mouseleave = "myText = originalText" -->
</div>
<div class = "background blog-background">
<div class = "row">
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText = jordanText" ng-mouseleave = "myText = originalText" src = "images/blogJordan.jpg"></img>
  </div>
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText = babyText" ng-mouseleave = "myText = originalText" src = "images/pinkshirts.jpg"></img>
  </div>
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText =  familyText" ng-mouseleave = "myText = originalText" src = "images/fam.jpg"></img>
  </div>
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText = ultimateText" ng-mouseleave = "myText = originalText" src = "images/Ultimate.jpg"></img>
  </div>
</div>
<div class = "row">
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText = starcraftText" ng-mouseleave = "myText = originalText" src = "images/Starcraft2.jpg"></img>
  </div>
  <div class="col-md-6 text_bar2" ng-bind = "myText">
  </div>
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText = chessText" ng-mouseleave = "myText = originalText" src = "images/Chess.jpg"></img>
  </div>
</div>
<div class = "row">
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText = sandersonText" ng-mouseleave = "myText = originalText" src = "images/BrandonSanderson.jpg"></img>
  </div>
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText = WORText" ng-mouseleave = "myText = originalText" src = "images/WOR.jpg"></img>
  </div>
  <div class="col-md-3">
    <img class = "highlightImgs" ng-mouseenter = "myText = casaText" ng-mouseleave = "myText = originalText" src = "images/CasaSalza.jpg"></img>
  </div>
  <div class="col-md-3">
    <img class = "highlightImgs extrabottom" ng-mouseenter = "myText = croquetText" ng-mouseleave = "myText = originalText" src = "images/croquet.jpg"></img>
  </div>
</div>
</div>
	<!-- <div class = "imgContainer">
		<img src = "images/blogJordan.jpg"></img>
	</div>
 -->


