
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead masthead-scroll clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><img class = "meImg" src="images/Jordan.jpg"></img>  Jordan Braginton</h3>
              <ul class="nav masthead-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#blog">About</a></li>
                <li class="active"><a href="#portfolio">Portfolio</a></li>
              </ul>
            </div>
          </div>

          

          

<div class = "background">

	<div class = "row">
		<div class="col-md-4 imgsize">
			<a href = "http://archeryidaho.com/#/" target = "_blank">
				<img src = "images/archeryidaho.PNG"></img>
			</a>
			<div class = 'well'>
				<h4>www.archeryidaho.com</h4>
				<p>simple website for Archery Idaho</p>
			</div>
		</div>
		<div class="col-md-4 imgsize">
			<a href = "https://googledrive.com/host/0B1sb7t1tFi6aeWwwczE3T1YxZkk/alliblog#/" target = "_blank">
				<img src = "images/alliblog.PNG"></img>
			</a>
			<div class = 'well'>
				<h4>Simple Blog</h4>
				<p>Built with AngularJS and Firebase for my sister.</p>
			</div>
		</div>
		<div class="col-md-4 imgsize">
			<a href = "https://googledrive.com/host/0B1sb7t1tFi6aVF8wZWhwUzBZQ0k/index.html#/" target = "_blank">
				<img src = "images/notepro.PNG"></img>
			</a>
			<div class = 'well'>
				<h4>Daily Note App</h4>
				<p>Prototype for an app I'm building for my dad's physical therapy homecare business. Built on AngularJS and Firebase</p>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-md-1"><a><img src = ""></img></a></div>
		<div class="col-md-4 imgsize">
			<a href = "https://googledrive.com/host/0B1sb7t1tFi6aYVBSTHFuYnp5dG8/index.html#/" target = "_blank">
				<img src = "images/tmnt.PNG"></img>
			</a>
			<div class = 'well'>
				<h4>Team-TMNT</h4>
				<p>This is a Dev Mountain project used to teach Angular JS routing, http requests, and directives</p>
			</div>
		</div>
		<div class="col-md-4 imgsize">
			<a href = "https://googledrive.com/host/0B1sb7t1tFi6aQmZhLVVqZnB3UW8/index.html" target = "_blank">
				<img src = "images/angular-friends.PNG"></img>
			</a>
			<div class = 'well'>
				<h4>Angular-Friends</h4>
				<p>This is a Dev Mountain project used to teach AngularJS</p>
			</div>
		</div>		
		
	</div>
	<div class = "row">
		<div class="col-md-4 imgsize">
			<a href = "https://googledrive.com/host/0B1sb7t1tFi6aOXJSeHd0WVowNnM/index.html#/" target = "_blank">
				<img src = "images/babynamer.PNG"></img>
			</a>
			<div class = 'well'>
				<h4>Baby Namer App</h4>
				<p>Just a fun little web app I built when I found out I am going to be a daddy! (Oct 2014)</p>
			</div>
		</div>
		<div class="col-md-4 imgsize">
			<a href = "https://googledrive.com/host/0B1sb7t1tFi6aVzl5R2Z1dUI1SUk/index.html" target = "_blank">
				<img src = "images/twitter.PNG"></img>
			</a>
			<div class = 'well'>
				<h4>Twitter</h4>
				<p>Dev Mountain JQuery project</p>
			</div>
		</div>		
		<div class="col-md-4 imgsize">
			<a href = "https://googledrive.com/host/0B1sb7t1tFi6aTUtoNi1kTzd1RXM/index.html#" target = "_blank">
				<img src = "images/codepen.PNG"></img>
			</a>
			<div class = 'well'>
				<h4>Codepen Login Clone</h4>
				<p>This is a Dev Mountain project used to teach JQuery</p>
			</div>
		</div>	
		
	</div>
</div>
	<div class="mastfoot">
            <div class="inner">
              
            </div>
          </div>

        </div>

      </div>

    </div>
